<div class="container">
  <div class="row">
      <div class="col-12">
          <h1 class="display-4 text-center">Country Map</h1>
          <h2 class="h6 text-center">World Bank Interview - Kenneth Silvere</h2>
      </div>
  </div>

  <div class="row mt-2">
      <div class="col-4">
          <div class="form-label text-center">Select a country</div>
          <select class="form-control mb-3" required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
      <option *ngFor="let country of countriesList" [value]="country">{{country}}</option>
    </select>
      </div>
      <div class="col-4">
          <div class="form-label text-center"></div>
          <button class="btn btn-primary m-4" (click)="zoomIn()">Zoom In</button>
          <button class="btn btn-primary m-4" (click)="zoomOut()">Zoom out</button>
      </div>
  </div>

  <div class="row">
      <div class="col-12">
          <div class="mb-5" style="height: 500px; width: 100%;" id="map"></div>
      </div>
  </div>
</div>